
/*   First block End   */

.tweets-container {
    width: 50%;
    margin: 10px auto;
  }
  h3 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
  }
  .tweet {
    border-top: solid #7cfc00;
    margin-top: 10px;
    padding-top: 20px;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }
  .tweet-title {
    font-family: 'Segoe UI Black',sans-serif;
  }
  .button015 a {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    transform: skew(-10deg, 0deg);
}
.button015 a span {
    transform: skewX(10deg);
}
.button015 a:before {
    content: "";
    width: 35px;
    height: 2px;
    position: absolute;
    right: -20px;
    background: #313131;
    top: 35%;
    transition: 0.3s ease-in-out;
}
.button015 a:after {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    right: -5px;
    background: #313131;
    top: 55%;
    transition: 0.3s ease-in-out;
}
.button015 a:hover:before, .button015 a:hover:after {
    transform: translateX(5px);
}